service: ms-${self:custom.serviceName}
frameworkVersion: '3'
useDotenv: true

provider:
  name: aws
  runtime: nodejs18.x
  region: 'us-east-1'
  memorySize: 512
  apiGateway:
    restApiId: 411z282v69
    restApiRootResourceId: 4efcqfttn0
    restApiResources:
      v1: cmuvzg
  environment:
    DB_HOST: ${env:DB_HOST, ssm:/ifsp/infra/EC2-PS/host}
    DB_PORT: ${env:DB_PORT, ssm:/ifsp/infra/EC2-PS/port}
    DB_NAME: ${env:DB_NAME, ssm:/ifsp/infra/EC2-PS/dbname}
    DB_USER: ${env:DB_USER, ssm:/ifsp/infra/EC2-PS/username}
    DB_PASSWORD: ${env:DB_PASSWORD, ssm:/ifsp/infra/EC2-PS/password}

custom:
  esbuild:
    external:
      - pg-native
  serviceName: products
  contextPath: ${self:custom.serviceName}
  baseApi: ${self:custom.contextPath}
  funcDir: src/4-framework/functions
functions:
  createProduct:
    handler: ${self:custom.funcDir}/createProduct.handler
    events:
      - http:
          path: ${self:custom.baseApi}/
          method: post
          cors:
            origin: '*'
            headers: '*'
  viewProduct:
    handler: ${self:custom.funcDir}/viewProduct.handler
    events:
      - http:
          path: ${self:custom.baseApi}/{product_id}
          method: get
          cors:
            origin: '*'
            headers: '*'
    viewAllProduct:
      handler: ${self:custom.funcDir}/viewAllProduct.handler
      events:
      - http:
          path: ${self:custom.baseApi}/
          method: get
          cors:
            origin: '*'
            headers: '*'
  removeProduct:
    handler: ${self:custom.funcDir}/removeProduct.handler
    events:
      - http:
          path: ${self:custom.baseApi}/{product_id}
          method: delete
          cors:
            origin: '*'
            headers: '*'
  updateProduct:
    handler: ${self:custom.funcDir}/updateProduct.handler
    events:
      - http:
          path: ${self:custom.baseApi}/{product_id}
          method: put
          cors:
            origin: '*'
            headers: '*'
            

plugins:
  - serverless-esbuild
  - serverless-offline
  - serverless-dotenv-plugin
